.footer{
    display: flex;
    flex-direction: row;
    gap:10px;
    background-color: white;
    color: black;
    margin-top: 30px;
    padding:2rem;
   bottom: 0;
    justify-content: center;

}







